@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <div class="col-md-4">
        <h2>Top 10</h2>
        <div class=cuadrado>
            <a href="@Url.Action("Top10","Playlist")"><img src="@Url.Content("~/Images/Top10.png")" height="150" width="150" /></a>
        </div>
    </div>
    <div class="col-md-4">
        <h2>Top 50</h2>
        <div class=cuadrado>
            <a href="@Url.Action("Top50","Playlist")"><img src="@Url.Content("~/Images/region_es_large.jpg")" height="150" width="150" /></a>
        </div>
    </div>
    <div class="col-md-4">
        <h2>Mas gustados</h2>
        <div class=cuadrado>
            <a href="@Url.Action("MasGustadas","Playlist")"><img src="@Url.Content("~/Images/favoritos.png")" height="150" width="150" /></a>
        </div>
    </div>
</div>