<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index","Home")"><img src="@Url.Content("~/Images/LogoRe.png")" height="50" width="100" /></a>
            </div>
            <div class="navbar-collapse collapse">

                <form class="formulario" id="busqueda_form">
                    <div>
                        <input class="buscador" type="text" name="q" />
                        <select class="select" name="clases" id="select_busqueda">
                            <option value="artista">Artista</option>
                            <option value="cancion">Cancion</option>
                            <option value="album">Album</option>
                            <option value="playlist">Playlist</option>
                        </select>
                        <button class="glyphicon glyphicon-search buscar"></button>
                    </div>
                </form>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="row">
        <nav class="col-lg-2 col-md-2">
            <a href="@Url.Action("Index","Home")" class="list-group-item ripple">Inicio</a>
            <a href="@Url.Action("Explorar_playlist","Playlist")" class="list-group-item ripple">Explorar playlists</a>
            <a href="@Url.Action("Explorar_album","Album")" class="list-group-item ripple">Explorar álbumes</a>
            <a href="@Url.Action("Index","Playlist")" class="list-group-item ripple">Mis playlists</a>
            <a href="@Url.Action("Index","Album")" class="list-group-item ripple">Mis albumes</a>
            <a href="@Url.Action("Seguidas","Playlist")" class="list-group-item ripple">Playlists seguidas</a>
            <a href="@Url.Action("Seguidos","Album")" class="list-group-item ripple">Albumes seguidos</a>
        </nav>
        <div class="container body-content col-lg-10 col-md-10">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
            </footer>
        </div>
    </div>

    <script>
    document.getElementById("busqueda_form").onsubmit = function (e) {
        e.preventDefault();
        let fd = new FormData(e.target);
        switch (fd.get("clases")) {
            case "artista":
                location.href = 'https://localhost:44332/Usuario/Buscador/' + fd.get("q");
                break;
            case "cancion":
                location.href = 'https://localhost:44332/Cancion/Buscador/' + fd.get("q");
                break;
            case "album":
                location.href = 'https://localhost:44332/Album/Buscador/' + fd.get("q");
                break;
            case "playlist":
                location.href = 'https://localhost:44332/Playlist/Buscador/' + fd.get("q");
                break;
        }
    }
    </script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
