@model IEnumerable<ShareSound_2_Front.Models.CancionViewModel>

@{
    ViewBag.Title = "Liked";
}

<h2>Canciones que te gustan</h2>

<table class="table">
    <tr>
        <th></th>
        <th>Título</th>
        <th>Álbum</th>
        <th>Artista</th>
        <th>Me gustas</th>
        <th>Reproducciones</th>
        <th>Duración</th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr songId="@Html.DisplayFor(modelItem => item.Id)">
            <td>
                <audio id="song_@item.Id" dur="@item.Duracion" songTitle="@item.Titulo">
                    <source src="~/src/Canciones/@(item.Id + item.SongExt)" type="audio/mp3" />
                </audio>
                <button id="play_@item.Id" type="button" class="btn btn-primary" onclick="playBtnList(@(item.Id), @(item.Duracion))"><span class="glyphicon glyphicon-play"></span></button>
            </td>
            <td>
                @item.Titulo
            </td>
            <td>
                <a href="/Album/Details/@Html.DisplayFor(modelItem => item.Album.Id)">@Html.DisplayFor(modelItem => item.Album.Titulo)</a>
            </td>
            <td>
                <a href="/Usuario/Details/@item.Usuario.Id">@item.Usuario.Nombre</a>
            </td>
            <td>
                @{
                    bool user_found = false;
                    foreach (var usuarios_gustados in item.UsuariosGustados)
                    {
                        if (usuarios_gustados.Id == Convert.ToInt32(Session["userId"]))
                        {
                            user_found = true;
                        }
                    }
                    if (user_found)
                    {
                        <a href="@Url.Action("UnLike", "Cancion", new { id = item.Id, ctl = "Cancion", act = "Liked", idLista = 0 })">
                            @Html.DisplayFor(modelItem => item.N_likes) <span class="glyphicon glyphicon-heart"></span>
                        </a>
                    }
                    else
                    {
                        <a href="@Url.Action("Like", "Cancion", new { id = item.Id, ctl = "Cancion", act = "Liked", idLista = 0 })">
                            @Html.DisplayFor(modelItem => item.N_likes) <span class="glyphicon glyphicon-heart-empty"></span>
                        </a>
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.N_repros) <span class="glyphicon glyphicon-eye-open"></span>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duracion) <span class="glyphicon glyphicon-time"></span>
            </td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-expand">
                            <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        @foreach (var playlist in ViewData["idPlaylistSelected"] as Dictionary<int, string>)
                        {
                            <li><a href="@Url.Action("Add", "Playlist", new { play_id = @playlist.Key, song_id = item.Id })">@playlist.Value</a></li>
                        }
                    </ul>
                </div>
            </td>
        </tr>
    }

</table>
