@model IEnumerable<ShareSound_2_Front.Models.CancionViewModel>

@{
    ViewBag.Title = "Top10";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Top10</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.N_likes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.N_repros)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duracion)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.N_likes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.N_repros)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duracion)
        </td>
    </tr>
}

</table>
