@model IEnumerable<ShareSound_2_Front.Models.CancionViewModel>

@{
    ViewBag.Title = "Top50";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Top 50</h2>
<br />

<table class="table">
    <tr>
        <th></th>
        <th>Título</th>
        <th>Álbum</th>
        <th>Artista</th>
        <th>Me gustas</th>
        <th>Reproducciones</th>
        <th>Duración</th>
        <th>Acciones</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr songId="@Html.DisplayFor(modelItem => item.Id)">
            <td>
                <audio id="song_@item.Id" dur="@item.Duracion" songTitle="@item.Titulo">
                    <source src="~/src/Canciones/@(item.Id + item.SongExt)" type="audio/mp3" />
                </audio>
                <button id="play_@item.Id" type="button" class="btn btn-primary btn-play" onclick="playBtnList(@(item.Id), @(item.Duracion))"><span class="glyphicon glyphicon-play"></span></button>
            </td>
            <td>
                @item.Titulo
            </td>
            <td>
                <a href="/Album/Details/@Html.DisplayFor(modelItem => item.Album.Id)">@Html.DisplayFor(modelItem => item.Album.Titulo)</a>
            </td>
            <td>
                <a href="/Usuario/Details/@item.Usuario.Id">@item.Usuario.Nombre</a>
            </td>
            <td>
                @{
                    bool user_found = false;
                    foreach (var usuarios_gustados in item.UsuariosGustados)
                    {
                        if (usuarios_gustados.Id == Convert.ToInt32(Session["userId"]))
                        {
                            user_found = true;
                        }
                    }
                    if (user_found)
                    {
                        <span class="glyphicon glyphicon-heart pointer" onclick="removeLike(@(item.Id), @(item.N_likes), event)"></span> @item.N_likes
                    }
                    else
                    {
                        <span class="glyphicon glyphicon-heart-empty pointer" onclick="setLike(@(item.Id), @(item.N_likes), event)"></span> @item.N_likes
                    }
                }
            </td>
            <td>
                <span class="glyphicon glyphicon-headphones"></span> <span id="views_@item.Id">@item.N_repros</span>
            </td>
            <td>
                <span class="glyphicon glyphicon-time"></span> @item.Duracion
            </td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-expand">
                            <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        @foreach (var playlist in ViewData["idPlaylistSelected"] as Dictionary<int, string>)
                        {
                            <li class="negro pointer selected pl" onclick="addPlaylist(@(playlist.Key), @(item.Id))">@playlist.Value</li>
                        }
                    </ul>
                </div>
            </td>
        </tr>
    }
</table>
